#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  background-color: black;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 20px;
}

.bg {
  top: 0;
  left: 0;
  background-color: rgba(50, 50, 50, 0.7);
  backdrop-filter: blur(8px);
  position: fixed;
  height: 100%;
  width: 100%;
}

.card {
  background-color: black;
  padding: 2.5px;
  border-radius: 20px;
  margin: 20px;
  position: relative;
  width: 350px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;

  input {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: none;
  }

  &.options {
    width: 100%;
    flex-wrap: no-wrap;
    align-content: flex-end;
  }
}

span {
  &:hover {
    cursor: pointer;
  }

  &.edit {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 10px;
    border-radius: 10px;
    font-size: medium;

    &:hover{
      background-color: rgb(23, 23, 23);
    }
  }
}


button {
  margin: 4px;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;

  &.delete {
    background-color: rgb(137, 13, 13);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
  }

  &.add {
    background-color: white;
    color: black;
  }

  &:hover {
    border-color: #646cff;
    ;
  }

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

h3 {
  display: flex;
  width: 100%;
  justify-content: center;
}