.Home {
  padding: 20px;

  .to_do {
    min-width: 375px;
  }
}

.Dashboard {
  display: flex;
  flex-direction: row;
  // padding: 20px;

  .to_do {
    min-width: 375px;
  }

  h2 {
    margin: 20px;
  }
}


.add {
  position: sticky;
  left: 20px;
  bottom: 20px;

}

.add:hover {
  background-color: grey;
  color: black;
}